[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=EZ Pos
Type=Application
Terminal=false
Icon[en_US]=/usr/local/ezpos/config/icon.xpm
Name[en_US]=EZ Pos
Exec=/usr/local/ezpos/script/ezpos
Icon=/usr/local/ezpos/config/icon.xpm
GenericName[en_US]=
