
<% content_for('sidebar') { %>
<div id="folders">
  <h3>Folders<br/><%=link_manage_folders%></h3>
  <ul> <% for folder in @folders %>
    <li><%=folder_link(folder)%></li> <% end %>
  </ul>
</div>
<% } %>
<div id="messages">
  <% if not(@request['msg_id'] == '') %>
  <%= render_component(:controller => "webmail", :action => "message", :params => { 'msg_id' => @request['msg_id']})%>
  <% else %>
  <%= render_component(:controller => "webmail", :action => "messages") %>
  <% end %>
</div>


